.DS_Store
Thumbs.db

# Environment variables
.env
.env.*
!.env.example

# Dependencies
node_modules/
venv/
__pycache__/
*.pyc

# Uploaded files
backend/uploads/
backend/src/uploads/

# Python cache
.pytest_cache/

# Model/cache files
.ipynb_checkpoints/

# ML service
ml-service/venv/
ml-service/dataset/
ml-service/image.jpeg